@inject AppState AppState;
@inject IDialogService DialogService;

@if (AppState.Project.SelectedSheet != null)
{
    <FluentSplitter Orientation="Orientation.Horizontal" style="width: 100%; height: 100%">
        <Panel1>
            <div Style="padding: 10px;">
                <SheetSelector Sheet="AppState.Project.SelectedSheet"/>
                <SheetSVG Sheet="AppState.Project.SelectedSheet" PartClicked="PartClicked"/>
            </div>
        </Panel1>
        <Panel2>
            <FluentHorizontalScroll @ref="_horizontalScroll" View="HorizontalScrollView.Mobile" Style="--scroll-align: flex-start; padding: 10px">
                @{
                    foreach (var column in AppState.Project.SelectedSheet.Columns)
                    {
                        <ColumnCard Column="column"/>
                    }
                }
            </FluentHorizontalScroll>
        </Panel2>
    </FluentSplitter>
}

@code
{
    FluentHorizontalScroll _horizontalScroll = default!;
    FluentPopover _popover = default;
    PartCard _partCard = default;
    private Part _part = default;
    private Column _col = default;

    protected override void OnInitialized()
    {
        AppState.OnStateChange += StateHasChanged;
    }

    private async Task PartClicked(Part part)
    {
        IDialogReference dialog = await DialogService.ShowDialogAsync<PartDialog>(part, new DialogParameters());
        await dialog.Result;
        //_horizontalScroll.ScrollInView(part.Parent.Pos());
    }
}