@inherits LayoutComponentBase

<FluentLayout>
    <ProjectHeader />
    <FluentBodyContent Class="content">
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                <div class="blazor-error-boundary">@ex.Message</div>
            </ErrorContent>
        </ErrorBoundary>
    </FluentBodyContent>
    <FluentFooter><FluentSpacer/>© 2024 Jurica Bacurin</FluentFooter>
</FluentLayout>
<FluentMenuProvider/>
