@inherits LayoutComponentBase

@inject AppState AppState

<FluentLayout>
    <FluentHeader>
        <FluentTextField @bind-Value=AppState.Project.Name></FluentTextField>
        <FluentSpacer/>
        <FluentButton Href="openfile" IconStart="@(new Icons.Regular.Size20.DocumentArrowUp())" IconColor="Color.Accent">Open</FluentButton>
        <FluentButton IconStart="@(new Icons.Regular.Size20.Save())" IconColor="Color.Accent">Save</FluentButton>
    </FluentHeader>
    <FluentBodyContent Class="content">
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent Context="ex">
            <div class="blazor-error-boundary">@ex.Message</div>
        </ErrorContent>
    </ErrorBoundary>
    </FluentBodyContent>
    <FluentFooter><FluentSpacer/>© 2024 Jurica Bacurin</FluentFooter>
</FluentLayout>
<FluentMenuProvider/>