@inherits LayoutComponentBase

@using Zuschnitt.Components

@inject AppState AppState

<FluentLayout>
    <FluentHeader>
        <ProjectActions />
        <FluentTextField @bind-Value=AppState.Project.Name Style="width: 100%;"></FluentTextField>
    </FluentHeader>
    <FluentBodyContent Class="content">
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                <div class="blazor-error-boundary">@ex.Message</div>
            </ErrorContent>
        </ErrorBoundary>
    </FluentBodyContent>
    <FluentFooter><FluentSpacer/>© 2024 Jurica Bacurin</FluentFooter>
</FluentLayout>
<FluentMenuProvider/>
