@using Zuschnitt.Models;

@inject AppState AppState;

<FluentSplitter Orientation="Orientation.Horizontal" style="width: 100%; height: 100%">
    <Panel1>
        <div Style="padding: 10px;">
            <SheetSelector Sheet="AppState.CurrentSheet" />
            <SheetSVG Sheet="AppState.CurrentSheet"/>
        </div>
    </Panel1>
    <Panel2>
        <FluentHorizontalScroll Style="--scroll-align: flex-start; padding: 10px">
            @{
                foreach (var column in AppState.CurrentSheet.Columns)
                {
                    <ColumnCard Column="column" />
                }
            }
        </FluentHorizontalScroll>
    </Panel2>
</FluentSplitter>

@code
{
    protected override void OnInitialized()
    {
        AppState.OnStateChange += StateHasChanged;
    }

}